---
import client from '../storyblokClient'
const { blok } = Astro.props
---

<div class="relative py-16 sm:py-24 lg:py-28 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8 w-full max-w-[664px] mx-auto">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="block text-base text-center text-yellow-500 font-extrabold tracking-wide uppercase">
          {blok.small_title}
        </span>
        <span class="mt-2 block text-3xl text-center font-semibold leading-8 tracking-tight text-gray-700 sm:text-4xl uppercase">
          {blok.top_title}
        </span>
        <span class="block text-3xl text-center font-bold leading-8 tracking-tight text-gray-700 sm:text-4xl uppercase">
          {blok.bottom_title}
        </span>
      </h1>
    </div>
    <div class="mt-5 leading-7 text-base text-gray-500 mx-auto text-center">
      <div>
        {client.richTextResolver.render(blok.content)}
      </div>
    </div>
  </div>
</div>