---
import DynamicIcon from "./icons/DynamicIcon.astro"
const { blok } = Astro.props
---

<div class="py-16 max-w-sm p-2 sm:p-10 text-center flex flex-col items-center">
  <DynamicIcon type={blok.icon} />
  <div class="px-6 py-4">
    <div class="font-bold text-xl my-4">{blok.name}</div>
    <p class="text-base text-gray-600">{blok.description}</p>
  </div>
</div>
