---
const { blok } = Astro.props
---

<div class="col-span-1 flex justify-center py-8 px-4 md:px-8 bg-none">
  <img
    class="max-h-12"
    src={blok.logo_image}
    alt={blok.logo_description}
  />
</div>  